<!-- N'UTILISER QUE LA SYNTAXE EN BLOCK ET DES SIGNALS POUR GÉRER LES ÉTATS -->

<!-- Display the task list in a div with the title and a checkbox. If the checkbox is checked, the checkbox is replaced by ✔ and the color's title is green -->

<!-- Display the count of the task we need to do using a signal. If the list is empty, display this message 'You have done everything you have to do, good job !' -->

<!-- Add a button and an input to add a task to our list -->

<!-- Add a button to remove a task -->
